INPUT {
	BORDER-RIGHT: #000000 1px outset; BORDER-TOP: #000000 1px outset; FONT-SIZE: 14px; BORDER-LEFT: #000000 1px outset; BORDER-BOTTOM: #000000 1px outset; FONT-FAMILY: Times New Roman
}
TEXTAREA {
	BORDER-RIGHT: #000000 1px outset; BORDER-TOP: #000000 1px outset; FONT-SIZE: 14px; BORDER-LEFT: #000000 1px outset; BORDER-BOTTOM: #000000 1px outset; FONT-FAMILY: Times New Roman
}
A:link {
	COLOR: #0000ff; TEXT-DECORATION: none
}
A:visited {
	COLOR: #0000ce; TEXT-DECORATION: none
}
A:active {
	COLOR: #0000ff; TEXT-DECORATION: none
}
A:hover {
	COLOR: #ff0000; TEXT-DECORATION: underline
}
FORM {
	MARGIN: 2px
}
.text1 {
	FONT-SIZE: 10pt; MARGIN-LEFT: 5px; COLOR: black; MARGIN-RIGHT: 5px; FONT-FAMILY: "Arial", serif; TEXT-ALIGN: justify
}
.text2 {
	FONT-SIZE: 9pt; MARGIN-LEFT: 10px; COLOR: black; MARGIN-RIGHT: 55px; FONT-FAMILY: "Tahoma", serif; TEXT-ALIGN: right
}
.text3 {
	FONT-SIZE: 10pt; MARGIN-LEFT: 40px; COLOR: black; MARGIN-RIGHT: 20px; FONT-FAMILY: "Tahoma", serif; TEXT-ALIGN: justify
}
.d {
	PADDING-RIGHT: 2px; PADDING-LEFT: 6px; FONT-SIZE: 12px; COLOR: #000000; FONT-FAMILY: arial
}
.dd {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-SIZE: 12px; PADDING-BOTTOM: 2px; COLOR: #000000; PADDING-TOP: 2px; FONT-FAMILY: arial; TEXT-ALIGN: center
}
.d1 {
	FONT-WEIGHT: bold; FONT-SIZE: 13px; PADDING-BOTTOM: 2px; COLOR: #000000; PADDING-TOP: 2px; FONT-FAMILY: MS Sans Serif; TEXT-ALIGN: center
}
.d11 {
	FONT-SIZE: 13px; PADDING-BOTTOM: 2px; COLOR: #000000; PADDING-TOP: 2px; FONT-FAMILY: MS Sans Serif; BACKGROUND-COLOR: #ebebeb; TEXT-ALIGN: center
}
BODY {
	SCROLLBAR-FACE-COLOR: #ffffff; SCROLLBAR-HIGHLIGHT-COLOR: #ffffff; SCROLLBAR-SHADOW-COLOR: #000000; SCROLLBAR-3DLIGHT-COLOR: #000000; SCROLLBAR-ARROW-COLOR: #000000; SCROLLBAR-TRACK-COLOR: #808080; SCROLLBAR-DARKSHADOW-COLOR: #000000
}
